<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
	<title>Document</title>
	<!-- <meta property="og:image" content="http://img.sbs.co.kr/newimg/news/20170713/201069770.jpg" />  -->
	<link rel="stylesheet" type="text/css" href="semantic.css">
	<link rel="stylesheet" type="text/css" href="template.css">
	<link rel="stylesheet" href="style.css">  
	<script src="https://unpkg.com/vue"></script>   
</head>
<body>
	<header id="menubar">
		<div class="ui container">   
				<a href="http://news.sbs.co.kr/"><img src="http://img.sbs.co.kr/newimg/news/20170718/201071799.png" alt="" class="sbslogo"></a>
				<a href="http://news.sbs.co.kr/news/newsPlusList.do?themeId=10000000114"><img src="http://img.sbs.co.kr/newimg/news/20170714/201070268.png" alt="" class="mabulogo"> </a> 
				<img src="http://img.sbs.co.kr/newimg/news/20170406/201037558.png" alt="" class="social" id="twitter">
				<img src="http://img.sbs.co.kr/newimg/news/20170406/201037559.png" alt="" class="social" id="facebook"> 
		</div> 
    	</header>   
	<section id="main" class="ui container" style="text-align: center;">
		<p class="title">검사장 지연/학연 (제목 미정)</p> 
	</section>
	<section id="canvas" class="ui container">
		<div class="ui segment">
			<div class="ui checkbox" v-for="list in checklist">
						<input type="checkbox" name="optionCheck" :value="list.code" v-model="checkReturn">
						<label :for="list.code"> {{ list.name }}</label>
			</div>
			
		</div>
		<div class="ui segment">
		<div id="chart"></div>

			<div class="card" v-show="whois"> 
						<p class="whois">{{ name }}</p>  
						<table class="ui very basic table">
							<tbody> 
								<tr>
									<td class="explain">출신지역</td>
									<td class="cardhead">{{ hometown }}</td>
								</tr>
								<tr>
									<td class="explain">출신 고등학교</td>
									<td  class="cardhead">{{ highschool }}</td>
								</tr>
								<tr>
									<td class="explain">출신 대학교</td>
									<td  class="cardhead">{{ university }}</td>
								</tr>
							</tbody>
						</table> 
			</div> 
			
		</div>

		 <!-- <div class="ui stackable grid">
				<div class="four wide column">
					<div class="ui checkbox" v-for="list in checklist">
						<input type="checkbox" name="optionCheck" :value="list.code" v-model="checkReturn">
						<label :for="list.code"> {{ list.name }}</label>
					</div>
					<div class="card" v-show="whois"> 
						<p class="whois">{{ name }}</p>  
						<table class="ui very basic table">
							<tbody> 
								<tr>
									<td class="explain">출신지역</td>
									<td class="cardhead">{{ hometown }}</td>
								</tr>
								<tr>
									<td class="explain">출신 고등학교</td>
									<td  class="cardhead">{{ highschool }}</td>
								</tr>
								<tr>
									<td class="explain">출신 대학교</td>
									<td  class="cardhead">{{ university }}</td>
								</tr>
							</tbody>
						</table> 
					</div> 
				</div>
				<div class="tweleve wide column">
					<div id="chart"></div>
				</div>
		</div> -->
	</section>
	<a href="http://news.sbs.co.kr/news/newsPlusList.do?themeId=10000000114" target="_blank">
	        <footer id="footerbar"> 
	        	<div class="ui container"> 
	        		<p id="fteamname">SBS마부작침</p>
			<p class="credit">도끼를 갈아 바늘을 만든다는 뜻으로 방대한 데이터와 정보 속에서 송곳 같은 팩트를 찾는 저널리즘을 지향합니다. 권지윤 기자 (legend8169@sbs.co.kr) | 박원경 기자 (seagull@sbs.co.kr) | 분석: 안혜민·홍명한 | 디자인/개발 : 임송이 </p>
	        	</div> 
	        </footer>
	</a>   

	<script src="//d3js.org/d3.v3.min.js"></script>
	<script src="bubble4.js"></script> 
</body>
</html>