		@import url('https://fonts.googleapis.com/css?family=Oswald:600');

		#main { 
			/*height: 200px;*/
			padding-top: 40px;  
			text-align: center;   
		} 
		
		#main

		#containers {
			margin: 5% 0%;
		} 


		#svgBox { 
			margin: 0 auto;
			width: 100px;
			height: 55px;
		}

		#svgtest {
			width: 100px;
			height: 55px;
		}

		.st0{ fill: #fff;} 
		.st2 {stroke: none; fill: #222;}
		
		[v-cloak] {
         display: none;
      }

		.mainTitle { 
			font-size: 1.3em;
			font-weight: 300; 
			color: #fff; 
		}
		
		.counter { 
			font-family: 'Oswald', sans-serif;
			font-size: 15em;
			color: #fff;  
			font-weight: 700;
			margin: 0;
			line-height: 1.2; 
		}
	
		.btnbox {
			width: 90%;
			margin-left: 1em; 
			margin-bottom: 20px; 
		}

		.mobilebtn {
			display: none;
		}

		.ui.segment { 
			background: none;  
			z-index: 1;
		}
		
		.ui.cards > .card {   
			background-color: #fff;  
			text-align: center;

		}   
		
		.namebox {
			width: 100%;
			padding-left: 5%; 
			padding-top: 250px;
			height: 326px; 
		}
		
		.attached.button {
			background-color: #efefef;
		}
		.attached.button:hover {
			background-color: #4f40e2;
			color: #fff;
		}

		.ui.large.label {
			background-color: #fc3a44;
			color: #fff;
			font-weight: 400;

		} 

		.tabname {
			font-size: 1em;
			font-weight: 500;
			margin: 10px 10px 10px 0px;
			color: #444;
		}
 
		.explain {
			font-size: 1em;
			color: #aaa;
			margin: 0 ;
		}
 
		.testbox { 
	 
			width: 15%; 
			height: 200px;
			text-align: center;  
  			overflow: hidden;
  			float: left;	
			
		}

		.manpic {
			width: 85px;
			height: 85px;
			margin: 1.5em auto 0.5em;
			border: 4px solid rgba(255,255,255,0.1);
			border-radius: 50%; 
		}

		.jobText {
			width: 90%;
			height: 1.2em;
			white-space: nowrap;
 			overflow: hidden;
 			text-overflow: ellipsis; 
 			margin:0 auto;
			font-size: 0.9em;
			font-weight: 300;
			color: #999; 
		}
		.nameText { 
			width:90%;
			height:1.4em;
			white-space: nowrap;
 			overflow: hidden;
 			text-overflow: ellipsis; 
 			margin:0 auto;
			font-size: 1em;
			font-weight: 600;
			color: #333;
			
  			 

		}

		.manpic:hover {
			border: 4px solid #ccc;
			border-radius: 50%;
		}

		.manName {
			color:#3e3e3e; 
			font-size: 3em;
			font-weight: 500;
			line-height: 1em;
			margin:0;
		}
		.final  {
			font-size: 1.2em;
			font-weight: 700;
			color: red;
			line-height: 1em;
			margin:0;
		} 
	

		.graphbox {
			width: 100%;
			height: 50px;
		}
 
		.barA { background-color: #4f40e2; }
		.barB { background-color: #fc3a44; }
		.barC { background-color: #ffcf44; }

		.number {
			color: #fff;
			font-size: 1em;
			font-weight: 600;
		}
 
		.modalmask {
			position: fixed;
			z-index: 2000;
			top: 0;
			left: 0;
			width: 100%; 
			height: 100vh;
			background-color: rgba(0,0,0,0.6); 
			max-height:  100%;
			overflow-y: auto; 
		}

		.modalbox {
			position: absolute;
			top: 10%;
			left: 20%;
			width: 60%;
			padding: 5%;
			margin-bottom: 10%;
			background-color: #fff;
			text-align: left;
		}

		.closebtn {
			width: 3%; 
			height: 3%; 
			position: absolute; 
			top: 10%; 
			left: 91%;
			cursor: pointer;
		}

		.cardTitle {
			font-size: 1.2em;
			font-weight: 600;
			color: #222;
		}


		.questionBox {
			width: 100%;
			margin: 0 auto;
			padding: 1% 0%;  
			text-align: left;
		}

		.questionCategory {
	
			font-size: 1.2em;
			font-weight: 600;
			color: #4f40e2;
			text-align: left;
		}

		.questions {
			font-size: 1.2em;
			font-weight: 500;
			color: #222;
			line-height: 1.6em;
			margin-bottom: 0.3em;
		}

		.answer {
			font-size: 1.1em;
			font-weight: 400;
			color: #555;
			line-height: 1.6em; 
		}
		
		.tablebox {
			width: 90%;
			height: 100px;
			padding: 5%;
			background-color: #efefef;
		}
		
		#minibox {   
			float: left;
			margin-top: 1em;
		}

		@media screen and (max-width: 639px) {
 
		 #main {  
		 	
			height: 250px;
			padding-top: 50px;   

		 }
		#svgBox { 
			margin: 0 auto;
			width: 60px;
			height: 33px;
		}

		#svgtest {
			width: 60px;
			height: 33px;
		}
		

		#minibox {
			 width: 95% !important;
			margin: 0 auto;
		}
 
		
		.testbox {
			width: 25%; 
			height: 140px;
			text-align: center; 
			float: left;
		}
 		
 		.ui.image {
 			margin: 0 auto;
 		}

		.jobtext {
			font-size: 0.7em;
		}
		.mainTitle {
			font-size: 1.2em; 
		} 
		
		.counter {  
			font-size:  7em; 
			margin: 0;
			margin-bottom: 5px;
			line-height: 0.9;
		}
 		

		.btnbox {
			width: 96%;
			margin-left: 0.5em;
			margin-bottom: 15px; 
		}
		
		.ui.selection.dropdown {
			min-width: 11.5em;
			max-width: 12em;
		}
		.mobilebtn {
			display: block;
			width: 95%;
			height: 40px;
			padding-top: 2%;
			border: 1px solid #ccc; 
		}

		.mobilebtn p {
			font-size: 1em;
			text-align: center;
			font-weight: 500;
			color: #555;
		}

		.ui.checkbox {
			display: block;
		}
		.checkwrap { 
			width: 100%;
			height: auto;
		}

		.manpic {
			width: 70px;
			height: 70px;
			margin: 1.2em 0.4rem 0.5em;
			border: 4px solid rgba(255,255,255,0.1);
			border-radius: 50%;
		}
 

		.modalbox {
			position: absolute;
			top: 5%;
			left: 2%;
			width: 96%;
			padding: 5% 2%;
			margin-bottom: 10%;
			background-color: #fff;
		}

		.ui.items > .item > .image > img {
			margin: 0 auto;
		}
		
		.closebtn {
			width: 10%; 
			height: 10%; 
			position: absolute; 
			top: 3%; 
			left: 85%;
		}

		.cardTitle {
			font-size: 2.5em;
			font-weight: 600;
			color: #222;
			text-align: center;
		}
			 
		}